*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Freeman';
    src: url('../Freeman/Freeman-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html{
    width: 100%;
    height:100%;
    overflow-x: hidden;
}

body{
    width: 100%;
    height: 100%;
    font-family: 'Freeman';
    background-color: wheat;
}

@media screen and (max-width:768px){
    div.header{
        align-items: center;
        flex-direction: column;
        height:fit-content;
        flex-direction: row;
        justify-content: space-between;
    }
    div.nav{
        /* flex-direction: column;
        align-items: center; */
        display: none;
    }
    div.content{
        margin-top: 165px;
    }
    div.text{
        font-size: 10px;
        max-width: 150px;
    }
    div.logoPart{
        align-items: center; 
        justify-content: center;
        width: 100%;
    }
    #logoText{
        display: none;
    }
    #logoP{
        max-width: 150px;
        align-self: center;
    }
    .desc{
        flex-direction: column;
    }
    div.desc img{
        width: 100%;
        padding-left: 10px;
    }
    div.additional-info{
        flex-direction: column;
    }
    div.social-medias{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: fit-content;
    }
    div.social-medias a{
        margin: 10px;
    }
    ul {
        list-style: none;
        background-color: #EF4000;
    }
    
    ul.dropdown li{
        display: block;
    }
    
    ul li a:hover{
        opacity: 80%;
    }
    
    ul.dropdown{
        width: 100%;
        background-color: #EF4000;
        position: absolute;
        z-index: 999;
        display: none;
    }
    
    ul li{
        display: inline-block;
        position: relative;
    }
    ul li a{
        display: block;
        padding: 20px 25px;
        color: #FFF;
        text-decoration: none;
        text-align: center;
    
    }
    .header img{
        height: 58.6px;
    }
    .forum-wrap a{
        flex-direction: column;
        min-height: fit-content;
    }
    .forum-wrap{
        min-height: fit-content;
        font-size: x-small;
    }
    .forum-wrap img{
        flex-shrink: 1;
    }
    div.wrap{
        flex-direction: column;
        align-items: center;
    }
}
.drpbtn {
    height: 100%;
    /* width: 100%; */width: auto;
}

.dropdown {
    display: none;
    list-style: none;
    background-color: #EF4000;
    position: absolute;
    top: 60px;
    width: 100%;
    z-index: 999;
}

.dropdown li {
    display: block;
    text-align: center;
}

.dropdown li a {
    display: block;
    padding: 20px 25px;
    color: white;
    text-decoration: none;
}

.dropdown li a:hover {
    opacity: 80%;
}

@media screen and (min-width:769px){
    .drpbtn{
        display: none;
    }
}


.header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: row;
    align-items: start;
    width: 100%;
    height: 10%;
    max-height: 90px;
    background-color: #EF4000;
    z-index: 100;
}

.header a{
    align-self: center;
    height: fit-content;
}

#logo{
    width: auto;
    height: auto;
    max-width: 200px;
}

.actual{
    display: flex;
    flex-direction: row;
}

.forum-wrap{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 75%;
    background-color: white;
    padding: 20px;
    border: solid;
    border-color: #EF4000;
    margin: 10px;
    /* align-self: center; */

}

.wrap{
    display: flex;
    flex-direction: row;
    
}

.forum-wrap img{
    align-self: center;
    width: 100%;
    flex-grow: 1;
    /* max-width: 200px; */
}

.forpic img{
    width: 100%;
    height: 100%;
}

.forum-wrap a{
    text-decoration: none;
}

.part{
    display: flex;
    flex-direction: column;
    padding: 5px;
    color: black;
    justify-content: center;
    width: 100%;
}


.kotak{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px;
    flex-direction: column;
}

.kotak p{
    margin-bottom: 5px;
}

.kotak p{
    font-size: 14px;
}
.content{
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
    justify-content: center;
    /* padding-top: 10%; */
    align-items: center;
    margin-top: 75px;
    width: 100%;
    height: 100%;
}

.nav{
    align-self: center;
    display: flex;
}

.nav a{
    position: relative;
    display: flex;
    margin: 10px;
    color: white;
    font-style: normal;
    font-size:large;
    text-decoration: none;
}

.nav a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;
}

.nav a:hover::before{
    width: 100%;
}


.logoPart{
    width: fit-content;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-content: center; */

}

.social-medias{
    display: flex;
    width: fit-content;
    align-self: center;
    flex-direction: column;
    justify-self: center;
}

.social-medias h3{
    color: white;
}

.info-box{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.bawah{
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    margin-top: 5px;
    width: 100%;
}

.box{
    display: flex;
    flex-direction: column;
    color: white;
    padding-bottom: 10px;
    width: fit-content;
    align-self: center;
}

.box a:hover{
    opacity: 80%;
}

.bawah a{
    text-decoration: none;
    color: white;
}

.social-medias a{
    text-decoration: none;
    margin-left: 5px;
}

.logoSM{
    width: 25px;
    color: white;
}

.logoSM:hover{
    background-color: white;
    opacity: 50%;
    border-radius: 2rem;
    transition: ease-in-out 200ms;
}

.additional-info{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.footer{
    width: 100%;
    /* display: flex; */
    flex-direction: column;
    height: fit-content;
    background-color: #EF4000;
    bottom: 0;
    padding: 20px 0;
    align-items: center; 
    justify-content: center;
}

.top{
    width: fit-content;
}

.footer p{
    text-align: center;
    color: white;
}

#logoP{
    width: 200px;
}

#logoText{
    width: 235px;
    height: auto;
}

.bot{
    margin-top: 10px;
}



